In [1]:
import pandas as pd

# Data file csv path to dataFrames
schoolDataPath = "Resources/schools_complete.csv"
studentDataPath= "Resources/students_complete.csv"
schoolDf = pd.read_csv(schoolDataPath)
studentDf = pd.read_csv(studentDataPath)

In [2]:
# merge
df = pd.merge(
    studentDf, 
    schoolDf, 
    how= "left",
    on= ["school_name", "school_name"]
)
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

<H1>District Summary</H1>

In [3]:
# How many schools?
namesLs = df.school_name.unique()
schoolCount = len(namesLs)
print(schoolCount)

15

In [4]:
# How many students?
studentCount = len(df)
print(studentCount)

39170

In [5]:
# The district's total budget?
budgetLs = df.budget.unique()
budgetTotal = sum(budgetLs)
print(budgetTotal)

24649428

In [6]:
# Average math score?
mathAvg = df.math_score.mean()
print(mathAvg)

78.98537145774827

In [7]:
# Average reading score?
readingAvg = df.reading_score.mean()
print(readingAvg)

81.87784018381414

In [8]:
# Passing math rate%
passingMathCount = df[(df["math_score"] >= 70)].count()["student_name"]
passedMath100 = passingMathCount / float(studentCount) * 100
passedMath100

74.9808526933878

In [9]:
# Passing reading rate%
passingReadingCount = df[(df["reading_score"] >= 70)].count()["student_name"]
passedReading100 = passingReadingCount / float(studentCount) * 100
passedReading100

85.80546336482001

In [10]:
# Passing math and reading%
passedBoth = df[
    (df[
        "math_score"
    ] >= 70)
    &
    (df["reading_score"
       ] >=70)
].count()["student_name"]
passedBoth100 = passedBoth / float(studentCount) * 100
passedBoth100

65.17232575950983

In [11]:
# Summary table
# Which series do we need to aggregate?
districtData = {
    'Total Schools' : [schoolCount],
    'Total Students' : [studentCount],
    'Total Budget' : [budgetTotal],
    'Average Math Score': [mathAvg],
    'Average Reading Score' : [readingAvg],
    '% Passing Math': [passedMath100],
    '% Passing Reading' : [passedReading100],
    '% Overall Passing' : [passedBoth100],
}

districtSummary = pd.DataFrame(
    data=districtData
)

# formatting
districtSummary["Total Students"] = districtSummary[
    "Total Students"
].map("{:,}".format)

districtSummary["Total Budget"] = districtSummary["Total Budget"].map("${:,.2f}".format)


districtSummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

<H1>School Summary</H1>

In [12]:
# Use the code provided to select the school type
schoolTypes = df.set_index(
    ["school_name"])["type"]

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [24]:
#student count by type
typeStuCount = schoolTypes.groupby('school_name').size()
typeStuCount

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: type, dtype: int64

In [26]:
# Calculate the total school budget and per capita spending
per_school_budget = df.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / typeStuCount
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [45]:
# Calculate the average test scores
# for math:
perSchoolMath = df.groupby('school_name')['math_score'].mean
perSchoolReading = df.groupby('school_name')['reading_score'].mean